@use "@/scss/variables" as var;

.values {
    &__title {
        color: var.$color-neutro-700;
        font-size: var.$font-size-lg;
        font-weight: var.$font-weight-bold;
        padding: 0 var.$spacing-sm var.$spacing-sm var.$spacing-sm;
    }

    &__description {
        color: var.$color-neutro-700;
        font-size: var.$font-size-md;
        font-weight: var.$font-weight-regular;
        text-align: justify;
        padding: 0 var.$spacing-sm;
    }

    &__image {
        height: fit-content;
        width: 25%;
        float: left;
        margin: 0 var.$spacing-sm var.$spacing-xs 0;
        padding: 0 var.$spacing-md var.$spacing-md var.$spacing-md;
    }
}
