@use "@/scss/variables" as var;

.text {
    font-weight: var.$font-weight-regular;

    &--h1 {
        color: var.$color-neutro-900;
        font-size: var.$font-size-xxl;
        font-weight: var.$font-weight-bold;
        line-height: var.$line-height-xxl;
    }

    &--h2 {
        color: var.$color-neutro-800;
        font-size: var.$font-size-xl;
        font-weight: var.$font-weight-bold;
        line-height: var.$line-height-xl;
    }

    &--h3 {
        color: var.$color-neutro-800;
        font-size: var.$font-size-lg;
        font-weight: var.$font-weight-bold;
        line-height: var.$line-height-lg;
    }

    &--p {
        color: var.$color-neutro-700;
        font-size: var.$font-size-md;
        font-weight: var.$font-weight-regular;
        line-height: var.$line-height-md;
    }

    &--span {
        color: var.$color-neutro-700;
        font-size: var.$font-size-xs;
        font-weight: var.$font-weight-light;
        line-height: var.$line-height-xs;
    }
}