@use "@/scss/variables" as var;

.institution-logo {
    display: flex;
    align-items: center;
    gap: var.$spacing-sm;

    &__logo {
        height: fit-content;
        width: var.$font-size-xxl;
    }

    &__title {
        font-size: var.$font-size-xxl;
        font-weight: var.$font-weight-bold;
        text-transform: uppercase;
    }

}