$color-primary-100: #faf8ff;
$color-primary-200: #f3efff;
$color-primary-300: #e9d8fd;
$color-primary-350: #fbf7f2;
$color-primary-400: #d6bcfa;
$color-primary-500: #b794f4;
$color-primary-600: #9f7aea;
$color-primary-700: #805ad5;
$color-primary-800: #6b46c1;
$color-primary-900: #553c9a;
$color-primary-1200: #0d3f49;

$color-neutro-100: #ffffff;
$color-neutro-200: #f5f5f5;
$color-neutro-300: #e9ecef;
$color-neutro-400: #dee2e6;
$color-neutro-500: #9ca3af;
$color-neutro-600: #6c757d;
$color-neutro-700: #495057;
$color-neutro-800: #282828;
$color-neutro-900: #0f0f0f;

$color-confirm-100: #e6f3ff;
$color-confirm-300: #99d6ff;
$color-confirm-500: #007bff;
$color-confirm-700: #0056b3;
$color-confirm-900: #003d80;

$color-success-100: #e6f4ea;
$color-success-300: #99dba3;
$color-success-500: #3fb451;
$color-success-700: #277931;
$color-success-900: #134119;
$color-success-1200: #0d3f49;

$color-danger-100: #fbeaea;
$color-danger-300: #f09898;
$color-danger-500: #e24141;
$color-danger-700: #921f1f;
$color-danger-900: #430909;

$color-warning-100: #fff6e6;
$color-warning-300: #ffdb99;
$color-warning-500: #ffb93f;
$color-warning-600: #bda18c;
$color-warning-700: #996e20;
$color-warning-900: #332409;
$color-warning-800: #2b2b2b;

$color-dark-alpha-100: rgba(0, 0, 0, 0.10);
$color-dark-alpha-300: rgba(0, 0, 0, 0.30);
$color-dark-alpha-500: rgba(0, 0, 0, 0.50);
$color-dark-alpha-700: rgba(0, 0, 0, 0.70);
$color-dark-alpha-900: rgba(0, 0, 0, 0.90);
$color-dark-alpha-800: rgba(216, 158, 92, .22);

$font-size-xs: 0.75rem;
$font-size-sm: 0.875rem;
$font-size-md: 1rem;
$font-size-lg: 1.25rem;
$font-size-xl: 1.5rem;
$font-size-xxl: 2rem;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-bold: 700;

$line-height-xs: 1;
$line-height-sm: 1.25;
$line-height-md: 1.5;
$line-height-lg: 1.75;
$line-height-xl: 2;
$line-height-xxl: 2.5;

$spacing-xss: 0.125rem;
$spacing-xs: 0.25rem;
$spacing-sm: 0.5rem;
$spacing-md: 1rem;
$spacing-lg: 1.5rem;
$spacing-xl: 2rem;
$spacing-xxl: 2.5rem;

$color-ak-primary-500: #184C4E;
$color-ak-primary-600: #123C3C;
$color-ak-accent-500: #D6A163;
$color-ak-accent-600: #C68B59;
$color-ak-neutral-800: #3E2723;
$color-ak-neutral-400: #8D6E63;
$color-ak-light: #F9F6F2;
$color-ak-primary-100: #E3F2F2;
$color-ak-primary-300: #7cb6b0;
$color-ak-primary-800: #0d3f49;
$color-ak-primary-700: #1a5a53;
$color-ak-primary-900: #072a2f;
$color-ak-primary-200: #c2e1de;