@use "@/scss/variables" as var;

.input {
    position: relative;
    max-width: 400px;

    &__helper-text {
        position: absolute;
        bottom: -1.25rem;
    }

    &__image {
        label {
            position: absolute;
            top: -0.45rem;
            left: 0.55rem;
            padding: 0 0.35rem;
            background-color: var.$color-neutro-200;
            border-radius: 0.25rem;
            color: var.$color-primary-800;
            font-size: var.$font-size-xs;
        }

        img {
            width: 100%;
            border: 1px solid var.$color-primary-800 !important;
            border-radius: 0.25rem;
            object-fit: cover;
        }
    }

    &--valid {

        p,
        label,
        label.Mui-focused {
            color: var.$color-primary-800 !important;
        }

        div input+fieldset,
        div input~.MuiOutlinedInput-notchedOutline,
        div textarea+fieldset,
        div input:focus+fieldset,
        div input:focus~.MuiOutlinedInput-notchedOutline,
        div textarea:focus~.MuiOutlinedInput-notchedOutline {
            border-color: var.$color-primary-800 !important;
        }
    }

    &--invalid {

        p,
        label,
        label.Mui-focused {
            color: var.$color-danger-500 !important;
        }

        div input+fieldset,
        div input~.MuiOutlinedInput-notchedOutline,
        div textarea+fieldset,
        div input:focus+fieldset,
        div input:focus~.MuiOutlinedInput-notchedOutline,
        div textarea:focus~.MuiOutlinedInput-notchedOutline {
            border-color: var.$color-danger-500 !important;
        }
    }

    @media (max-width: 768px) {
        width: 100% !important;
    }
}