@use "@/scss/variables" as var;

.navbar {
    grid-area: navbar;
    padding: var.$spacing-sm !important;
    background-color: var.$color-ak-primary-100;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;

    &_menu-icon,
    &_menu-drawer {
        color: var.$color-ak-neutral-800;
        display: none !important;
        cursor: pointer;
        font-size: 2rem;

        &:hover {
            color: var.$color-ak-accent-500;
        }
    }

    &_menu-list {
        display: flex;
        gap: var.$spacing-lg;

        a {
            color: var.$color-ak-neutral-800;
            font-weight: var.$font-weight-bold;
            text-decoration: none;
            transition: color 0.2s ease;

            &:hover {
                color: var.$color-ak-primary-700;
            }
        }
    }

    @media (max-width: 768px) {
        justify-content: flex-start;

        &_menu-icon,
        &_menu-drawer {
            display: block !important;
            margin-left: var.$spacing-sm;
        }

        &_menu-list {
            display: none !important;
        }
    }
}