@use "@/scss/variables" as var;

.icon-button {
    color: var.$color-neutro-800;

    &:hover {
        background-color: var.$color-dark-alpha-100 !important;
    }

    &:active {
        background-color: var.$color-dark-alpha-300 !important;
    }

    &__edit {
        svg {
            fill: var.$color-primary-700
        }
    }

    &__remove {
        svg {
            fill: var.$color-danger-500;
        }
    }
}