@use "@/scss/variables" as var;

.footer-social-media-item {
    height: var.$font-size-xxl;
    width: var.$font-size-xxl;
    padding-top: var.$spacing-xs;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var.$color-neutro-200;
    border-radius: 50%;

    &:hover {
        border-color: var.$color-neutro-700;

        .footer-social-media-item__icon {
            fill: var.$color-neutro-700;
        }
    }

    &__icon {
        width: var.$font-size-lg;
        fill: var.$color-neutro-200;
    }
}