@use "@/scss/variables" as var;

.footer-explorer {
    display: flex;
    flex-direction: column;
    gap: var.$spacing-xs;

    &__title {
        color: var.$color-neutro-100;
        font-size: var.$font-size-sm;
        font-weight: var.$font-weight-bold;
    }

    &__content {
        padding-left: var.$spacing-xs;
    }
}